@import "tailwindcss";
@import "@radix-ui/themes/styles.css";


@theme {
  --color-primary: oklch(0.1913 0 0);
  --color-accent: oklch(0.54 0.1841 278.28);
  --color-accent-foreground: oklch(0.31 0.0858 268.6);
  --color-secondary: oklch(0.252 0 0);
  --color-light: oklch(0.4495 0 0);

  /* Dark BG colors */
  --color-dlight: oklch(0.7895 0 0);

  --text-h1: 3.5rem;
  --text-h2: 3rem;
  --text-h5: 1.125rem;

  --text-body-large: 1rem; 
  --text-body: 0.875rem;
  --text-subtitle: 1.5rem;
}